:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 100px;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

hr {
  background: rgba(24, 51, 33, 0.67);
}

.banner-name{
  color: darkolivegreen;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
  margin-left: -100px; color: black;
}
.carousel-control-next {
  margin-right: -100px; color: black;
}

.order-dish {
  margin-left: 40px;
}

.back-btn {
  margin-bottom: 30px;
}

.cart-back-btn {
  margin: 30px 20px;
}

.dish-item {
  background-color: rgba(0, 27, 0, 0.15);
  padding: 20px;
}

.jumbotron {
  background: url(http://clipartmag.com/images/light-blue-abstract-background-png-clipart-32.gif) center no-repeat;
  background-size: cover;
}

.jumbotron-text {
  background-color: white;
  opacity: 0.9;
}

.order-block{
  margin: 20px 0;
}

.item-counter {
  display: inline-block;
  margin-left: 20px;
}

.price-p {
  margin-left: 35px;
}

table.cart {
  margin-bottom: 50px;
}

.shipping-conditions {
  font-size: 14px;
}

.order-total {
  font-size: 30px;
}

.remove-product {
  /*background: transparent;*/
  /*border: none;*/
  /*padding: 0px;*/
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 33, 40, 0.66);
}

.remove-product:hover {
  font-size: 18px;
  font-weight: 900;
  color: red;
}

.checkout-shipping, .checkout-quantity {
  font-weight: 600;
  font-size: 15px;
}

.checkout-total {
  font-weight: 600;
  font-size: 24px;
}

span.field-star {
  color: red;
  font-size: 18px;
}

.submit-order {
  margin: 50px 0;
}

.auth-item a {
  /*color: #fff;*/
  color: #499cf5;
  margin-left: 15px;
}

.bg-light-gray {
  background-color: #dfdfdf;
}

.cabinet-item a {
  color: #0069d9;
  margin-left: 25px;
}

.cabinet-item-active {
  text-decoration: underline;
}
