
<div class="form-group">
    <label>Ингредиенты</label>
    <select name="ingredient_id[]" class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select here" style="width: 100%;" tabindex="-1" aria-hidden="true">
        <option value="1">deserunt</option>
        <option value="2">voluptas</option>
        <option value="3">sit</option>
        <option value="4">ex</option>
        <option value="5">in</option>
        <option value="6">Салатыssds</option>
    </select>
    <span class="select2 select2-container select2-container--default select2-container--below select2-container--focus" dir="ltr" style="width: 100%;">
        <span class="selection">
            <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                <ul class="select2-selection__rendered">
                    <li class="select2-selection__choice" title="deserunt">
                        <span class="select2-selection__choice__remove" role="presentation">×</span>deserunt
                    </li>
                    <li class="select2-selection__choice" title="voluptas">
                        <span class="select2-selection__choice__remove" role="presentation">×</span>voluptas
                    </li>
                    <li class="select2-selection__choice" title="sit">
                        <span class="select2-selection__choice__remove" role="presentation">×</span>sit
                    </li>
                    <li class="select2-search select2-search--inline">
                        <input class="select2-search__field" type="search" tabindex="-1" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="" style="width: 0.75em;">
                    </li>
                </ul>
            </span>
        </span>
        <span class="dropdown-wrapper" aria-hidden="true">
        </span>
    </span>
</div>


